#About{
    color: white;
    background-color: black;
    padding-block: 100px;
    z-index: 1;
}

h1{
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

p{
    font-size: 22px;
    padding-inline: 10%;
    line-height: 35px;
    margin-top: 80px;
}

div{
    text-align: center;
    margin-top: 50px;
}

a {
    text-align: center;
    font-size: 17px;
    color: #fff;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

@media (max-width: 680px) {
    h1{
      font-size: 60px;
      line-height: 70px;
    }
  
    h2{
      font-size: 30px;
      line-height: 40px;
    }
  }