<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{detail?.title}}</mat-card-title>
      <mat-card-subtitle>{{detail?.type}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="detail?.cover" alt="...">
    <mat-card-content>
      <p>
        {{detail?.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openLink(detail!.link)">link</button>
      <button mat-button (click)="openLink(detail!.source)">Code source</button>
    </mat-card-actions>
  </mat-card>  