<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{detail?.title}}</mat-card-title>
      <mat-card-subtitle>{{detail?.type}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="detail?.cover" alt="...">
    <mat-card-content>
      <p>
        {{detail?.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a *ngIf='detail?.link != ""' href="{{detail?.link}}" target="_blank">Link 🔗</a>
      <a *ngIf='detail?.source != ""' href="{{detail?.source}}" target="_blank">Code Source</a>
    </mat-card-actions>
  </mat-card>  