form{
    display:table;
    flex-direction: column;
    padding: 50px;
    color: #fff;
    width: 100%;
}

h2{
    font-size: 25px;
    text-align: center;
}

p{
    margin-top: 10px;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 30%;
}

.popup{
    text-decoration: none;
    position: relative;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #111;
    box-sizing: border-box;
    color: #111;
    display: flex;
    justify-content: center;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    flex-direction: column;
}

.popup:after{
    background-color: #111;
    content: "";
    height: 100%;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    z-index: -1;
}

.overlay{
    position: absolute;
    z-index: 5;
}

.slide-in {
    animation: slideIn 0.1s ease-in;
}

@keyframes slideIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.slide-out {
    animation: slideOut 0.1s ease-in;
}

@keyframes slideOut {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

.form{
    text-decoration: none;
    position: relative;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #111;
    box-sizing: border-box;
    color: #111;
    display: flex;
    justify-content: center;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    margin-inline-start: 50px;
    margin-block-start: 30px;
}

.form:after{
    background-color: #111;
    content: "";
    height: 100%;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    z-index: -1;
}