<footer>
    <h3>Follow me on :</h3>
    <div>
        <button mat-icon-button aria-label="Facebook">
            <mat-icon>facebook</mat-icon>
        </button>
        <button mat-icon-button aria-label="Facebook">
            <mat-icon>instagram</mat-icon>
        </button>
        <button mat-icon-button aria-label="Facebook">
            <mat-icon>github</mat-icon>
        </button>
        <button mat-icon-button aria-label="Facebook">
            <mat-icon>linkedin</mat-icon>
        </button>
    </div>
</footer>