<footer>
    <h3>Follow me on :</h3>
    <div>
        <button mat-icon-button aria-label="Facebook" (click)="openLink('https://www.facebook.com/riky.ventu.chiodo.50/')">
            <img src="assets/icons/facebook.svg" alt="Facebook" class="social-icon"/>
        </button>
        <button mat-icon-button aria-label="Instagram" (click)="openLink('https://www.instagram.com/v3ntuz/')">
            <img src="assets/icons/instagram.svg" alt="Instagram" class="social-icon"/>
        </button>
        <button mat-icon-button aria-label="GitHub" (click)="openLink('https://github.com/ctrlVnt')">
            <img src="assets/icons/github.svg" alt="GitHub" class="social-icon"/>
        </button>
        <button mat-icon-button aria-label="LinkedIn" (click)="openLink('https://www.linkedin.com/in/riccardo-venturini-14b6b7261/')">
            <img src="assets/icons/linkedin.svg" alt="LinkedIn" class="social-icon"/>
        </button>
      </div>
      
</footer>