@import url('https://fonts.googleapis.com/css2?family=Honk:MORF@8&display=swap');

nav {
    position: fixed;
    background-color: #fff;
    z-index: 10;
    padding: 20px;
    width: 100%;
    border-bottom: 2px solid #000;
}

div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: "Honk", system-ui;
    border: none;
    background: none;
    font-size: 50px;
    margin-left: 20px;
    cursor: pointer;
}

ul {
    list-style: none;
    margin-right: 15px;
}

li {
    display: inline-block;
    margin-right: 20px;
    transition: padding 0.5s ease-in;
}

button[mat-button][color="my-custom-color"] {
    color: #000;
}

button[mat-button]:hover {
    color: #B94ED9;
}

.menu-icon{
    display: none;
    right: 10px;
    top: 10px;
    position: absolute;
    color: #000;
}

@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}

.slide-left{
    animation: slideIn 0.3s ease-in;
}

@media screen and (max-width: 1200px) {

    div{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .menu-icon{
        display:flex;
    }
    
    .logo{
        margin-left: 0;
    }
    
    ul {
        display: flex;
        flex-direction: column;
    }

    nav {
        height: auto;
        padding: 0px;
        padding-bottom: 10px;
        min-height: 50px;
    }

    li{
        margin-bottom: 20px;
        opacity: 0;
    }

    @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translateX(-20px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
    }
    
    .fade-in {
        animation: fadeIn 1s forwards;
    }
}

.button-56 {
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #111;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-56:after {
    background-color: #111;
    content: "";
    display: block;
    height: 30px;
    width: 100%;
    position: absolute;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .button-56:hover:after {
    transform: translate(0, 0);
  }
  
  .button-56:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .button-56:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .button-56 {
      padding: 0 40px;
    }
  }