.title{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    text-align: center;
    color: white;
    pointer-events: none;
    line-height: 80px;
  }

  app-menu{
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 3;
  }
  
  h1{
    font-size: 80px;
    font-weight: bold;
    line-height: 100px;
  }
  
  h2{
    font-size: 40px;
    font-weight:lighter;
    line-height: 50px;
  }

  p{
    position: absolute;
    font-size: 20px;
    color: #fff;
    width: 80px;
    text-align: center;
    transform: translate(-35%,250%);
  }
  
  section{
    height: 100vh;
  }
  
  #Header{
    z-index: 0;
  }

  .scroll-icon {
    display: block;
    position: absolute;
    height: 3em;
    width: 1.5em;
    border: .25em solid #fff;
    border-radius: 1em;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 10vh;
  }

  @keyframes scroll_1 {
    0%   { transform: translateY(0); }
    25%  { transform: translateY(-0.6em); }
    50%  { transform: translateY(0); }
    75%  { transform: translateY(0.6em); }
    100% { transform: translateY(0); }
  }
  
  .scroll-icon__wheel-outer {
    display: block;
    position: absolute;
    left: 50%;
    top: .6em;
    height: 1em;
    width: .4em;
    margin-left: -.2em;
    border-radius: .4em;
    overflow: hidden;
  }
  
  .scroll-icon__wheel-inner {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background: #fff;
    animation: scroll_1 2.75s ease-in-out infinite;
  }