h1{
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

p{
    font-size: 40px;
    font-weight:lighter;
}

ul > li {
    list-style-type: none;
    margin: 50px;
}

li {
    display: inline-block; /* Dispone gli elementi in linea */
    margin-right: 10px; /* Spazio tra gli elementi */
}

.scroll-container {
    overflow-x: auto;
    white-space: nowrap;
}