#Portfolio{
    color: black;
    background-color: white;
    padding-block: 100px;
    z-index: 1;
  }
  
::-webkit-scrollbar {
    display: none;
}

h1{
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

.scroll-istruction{
    display: flex;
    flex-direction: row;
    align-items: center;
}

p{
    font-size: 15px;
    font-weight:lighter;
    margin-left: 30px;
    border: solid;
    padding: 20px;
}

.or{
    font-weight: bold;
    border: none;
    padding-inline: 0;
}

ul{
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

ul > li {
    display: inline-block;
    list-style-type: none;
    scroll-snap-align: center;
    margin: 50px;
    max-width: 90%;
}

.scroll-container {
    position: relative;
    margin-top: 80px;
    overflow-x: hidden;
    white-space: nowrap;
}

@media (max-width: 680px) {
    #Portfolio{
        padding-top: 100px;
        padding-bottom: 50px;
      }

    ul > li {
        margin-inline: 10px;
    }

    .scroll-container {
        margin-top: 0px;
        margin-bottom: -50px;
    }
}
