#Portfolio{
    color: black;
    background-color: white;
    padding-block: 100px;
    z-index: 1;
  }
  
h1{
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

p{
    font-size: 40px;
    font-weight:lighter;
}

ul{
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

::-webkit-scrollbar {
    display: none;
}

ul > li {
    display: inline-block;
    list-style-type: none;
    scroll-snap-align: center;
    margin: 50px;
}

.scroll-container {
    position: relative;
    margin-top: 80px;
    overflow-x: hidden;
    white-space: nowrap;
}