.container {
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  h1 {
    font-size: 3rem;
    color: #ff4081;
    margin-bottom: 30px;
  }
  
  p {
    font-size: 1.5rem;
  }
  
  button {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #e91e63;
  }
  
  @keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
  }
  