@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Micro+5&family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk:MORF@8&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

@font-face {
    font-family: 'KarmaticArcade';
    src: url('../../../assets/fonts/karmatic-arcade/KarmaticArcade-6Yrp1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'PacfontGood';
    src: url('../../../assets/fonts/pacfont/PacfontGood-yYye.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  
:root{
    --blue-light: #559BD9;
    --blue: #4D7A8C;
    --central: #283940;
    --adark-light: #152618;
    --dark: #040D01;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#home{
    overflow-y: scroll;
    height: 100vh;
    scrollbar-width: none;
    background-color: #FFF3B1;
}

#Portfolio{
    background-color: #000;
    color: #fff;
    padding-bottom: 80px;
    padding-block: 15vh;
}

.profile-img {
    height:auto;
    width: 350px;
    object-fit: cover;
    object-position: center;
    z-index: 3;
}

.sidebar {
    display: none;
}

h1{
    font-family: "PacfontGood", sans-serif;
    font-size: 90px;
    margin-bottom: 60px;
}

h2{
    font-family: "PacfontGood", system-ui;
    font-size: 70px;
    z-index: 1;
}

h3{
    font-family: "KarmaticArcade", system-ui;
    font-size: 30px;
    z-index: 1;
}

p{
    font-size: 18px;
    color: #000;
    z-index: 1;
}

a{
    font-size: 15px;
    color: #000;
    z-index: 1;
}

span{
    color: #000;
}

section{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;
}

#Contact{
    padding-block: 15vh;
}

.header{
    height: 100vh;
    padding-top: 10px;
}

.clear-icon{
    position: absolute;
    right: 10px;
}

mat-drawer-container {
    background-color: white;
    width: 100%;
    height: 100%;
}
  
mat-drawer {
  padding: 20px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}

.div-header{
    background-color: #FFF3B1;
    overflow-x: hidden;
    position:relative;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.full-screen-header{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 100px;
    align-items: center;
}

.black-color{
    color: #000;
}

.presentation-text{
    padding: 30px;
    width: 300px;
}

.portfolio-display {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    gap: 1rem;
  }

  .portfolio-texts{
    align-items: start;
  }
  
  .select-option{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .project-item {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 2rem;
    padding: 1rem;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    line-height: 35px;
  }
  
  .buttons {
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border: 5px solid white;
    padding: 10px;
    border-radius: 10px;
    color: #000;
    margin-top: 30px;
  }
  
  .selected {
    font-weight: bold;
  }

  .arrow {
    opacity: 0;
  }

  .arrow-sel {
    opacity: 1;
    font-size: 2rem;
    animation: blink 1s infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  .video-game-button {
	text-shadow: 1px 1px pink, -1px -1px maroon;
    font-family: "Press Start 2P", system-ui;
	line-height: 1.5em;
	text-align: center;
	display: inline-block;
	width: 1.5em;
	-webkit-border-radius: .75em;
	-moz-border-radius: .75em;
	-o-border-radius: .75em;
		border-radius: .75em;
	background-color: red;
	-webkit-box-shadow:  0 .2em maroon;
	-moz-box-shadow:  0 .2em maroon;
	-o-box-shadow:  0 .2em maroon;
	box-shadow:  0 .2em maroon;
	color: red;
	margin: 5px;
	background-color: red;
	background-image: -o-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: -moz-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: -webkit-linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	background-image: linear-gradient(left top, pink 3%, red 22%, maroon 99%);
	cursor: pointer;
  padding-left: 5px;
  user-select: none;
}
.start-btn{
    font-family: "Press Start 2P", system-ui;
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
    user-select: none;

}
.video-game-button:active, .start-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}

.about-me{
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
}

.about-me-button{
    display: none;
}

.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 20;
    color:black;
    width: 100%;
    height: 100vh;
    font-family: "Questrial", sans-serif;
    background-color: #ffec63;
    background-image: linear-gradient(
        45deg,
        #ffd966 25%,
        transparent 25%,
        transparent 75%,
        #ffd966 75%,
        #ffd966
      ),
      linear-gradient(
        -45deg,
        #ffd966 25%,
        transparent 25%,
        transparent 75%,
        #ffd966 75%,
        #ffd966
      );
    background-size: 60px 60px;
    background-position: 0 0;
    animation: slide 4s infinite linear;
  }
  
  @keyframes slide {
    from {
      background-position: 0 0;
    }
  
    to {
      background-position: -120px 60px;
    }
  }  

app-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 10;
}

app-loading{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 10;
}

.container{
    position: relative;
    align-items: center;
    margin-left: 70px;
    background-color: #fff;
    border: 2px solid #111;
    box-sizing: border-box;
    color: #111;
    display: flex;
    justify-content: center;
    padding: 25px;
    text-align: center;
    text-decoration: none;
}

.container:after{
    background-color: #111;
    content: "";
    height: 100%;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    z-index: -1;
}

.about-me-text{
    font-size: 23px;
    line-height: 150%;
    max-width: 800px;
}

app-contactform{
    transform: translateX(-50px);
    margin-bottom: 50px;
    z-index: 2;
}

.email{
    font-size: 18px;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fff;
    border: 2px solid #111;
    box-sizing: border-box;
    color: #111;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
}

.link:after{
    background-color: #111;
    content: "";
    height: 100%;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.link:hover:after {
    transform: translate(0, 0);
}

.link:active {
    background-color: #fff;
    outline: 0;
}

.link:hover {
    outline: 0;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-left-in {
    animation: slideLeft 1s ease-in;
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-right-in {
    animation: slideRight 1s ease-in;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-up-in {
    animation: slideUp 1s ease-in;
}

@media screen and (max-width: 1200px) {
    .full-screen-header{
        padding: 80px;
    }

    .about-me-text{
        font-size: 18px;
    }

    .profile-img{
        height:250px;
        width: 250px;
        object-fit: cover;
        object-position: center;
    }

    h1{
        font-size: 80px;
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 768px) {

    .about-me-text{
        display: none;
    }

    .container{
        display: none;
    }

    .about-me-button{
        margin-top: 5%;
        align-items: center;
        background-color: #fff;
        border: 2px solid #111;
        box-sizing: border-box;
        color: #111;
        cursor: pointer;
        display: flex;
        font-size: 16px;
        height: 48px;
        justify-content: center;
        line-height: 24px;
        max-width: 100%;
        padding: 0 25px;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .about-me-button:after {
        background-color: #111;
        content: "";
        display: block;
        height: 48px;
        left: 0;
        width: 100%;
        position: absolute;
        top: -2px;
        transform: translate(8px, 8px);
        transition: transform .2s ease-out;
        z-index: -1;
    }

    .about-me-button:hover:after {
        transform: translate(0, 0);
    }
    
    .about-me-button:active {
        background-color: #fff;
        outline: 0;
    }
    
    .about-me-button:hover {
        outline: 0;
    }
    
    @media (min-width: 768px) {
      .about-me-button {
        padding: 0 40px;
      }
    }

    .profile-img {
        height: auto;
        object-fit: cover;
        object-position: center;
        max-height: 500px;
        margin-top: -100px;
        margin-bottom: -50px;
    }

    h1{
        font-size: 60px;
        margin-bottom: 45px;
    }

    h2{
        font-size: 50px;
    }

    h3{
        font-size: 20px;
    }

    .project-item{
        font-size: 15px;
        line-height: 1px;
    }
}


.button-56 {
    align-items: center;
    background-color: #fff;
    border: 2px solid #111;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-56:after {
    background-color: #111;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #fff;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.info{
    padding: 10px;
    text-align: center;
    margin-block: 20px;
    line-height: 150%;
}

.info a{
    font-size: 18px;
}

@media (-webkit-device-pixel-ratio: 1.5) {
    .profile-img {
        width: 250px;
    }

    .about-me-text{
        font-size: 18px;
        max-width: 800px;
    }

    h1{
        font-size: 60px;
    }
  }