.title{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  text-align: center;
  color: white;
  pointer-events: none;
  line-height: 80px;
}

h1{
  font-size: 80px;
  font-weight: bold;
}

p{
  font-size: 40px;
  font-weight:lighter;
}

section{
  height: 100vh;
}

#Header{
  z-index: 0;
}

#Portfolio{
  color: black;
  background-color: white;
  padding: 50px;
  z-index: 1;
}

#Contact{
  color: white;
  background-color: black;
  height: 100vh;
  padding: 50px;
  z-index: 2;
}
