<div class="overlay">
    <div class="modal">

        <button mat-icon-button id="clearButton" class="clear-icon" (click)="toggleVisibility()">
            <mat-icon>clear</mat-icon>
        </button>
    
        <img [src]="detail?.cover">
        <h2>{{detail?.title}}</h2>
        <p class="message">{{detail?.description}}</p>
        <div class="options">
          <button *ngIf="detail?.source != null" class="btn">Code source</button>
          <button *ngIf="detail?.link != null" class="btn" (click)="openItem()">Visit</button>
        </div>
    </div>
</div>