<div class="container">

    <button mat-icon-button id="clearButton" class="clear-icon" (click)="toggleVisibility()">
        <mat-icon>clear</mat-icon>
    </button>

    <div class="content">
        <img [src]="detail?.cover">
        <h2>{{detail?.title}}</h2>
        <p>
        {{detail?.description}}
        </p>

        <div class="buttons">
            <button mat-raised-button>Code Source</button>
            <button mat-raised-button (click)="openItem()">Visit</button>
        </div>

    </div>
</div>