#Contact{
    color: white;
    background-color: black;
    height: 80vh;
    padding-top: 100px;
    padding-inline: 5%;
    z-index: 2;
    text-align: center;
}
  
h1{
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

form{
    display:table;
    flex-direction: column;
    padding: 50px;
    padding-top: 80px;
    color: #fff;
}

.submit{
    width: 50px;
}

.submit:disabled{
    background-color: #fff;
    opacity: 0.5;
}

textarea{
    min-height: 100px;
}

button{
    background-color: #fff;
}

.overlay{
    position: relative;
    margin-block: 80px;
    z-index: 5;
    background-color: #fff;
    color: black;
    padding: 20px;
    border-radius: 15px;
    max-width: 300px;
    left: 50%;
    transform: translateX(-50%);
}

button{
    padding: 20px;
}

.slide-in {
    animation: slideIn 0.1s ease-in;
}

@keyframes slideIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.slide-out {
    animation: slideOut 0.1s ease-in;
}

@keyframes slideOut {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

.form{
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (max-width: 680px) {
    h1{
      font-size: 60px;
      line-height: 70px;
    }
  
    h2{
      font-size: 30px;
      line-height: 40px;
    }
  }